body{
    background-color: rgb(209, 209, 238);
}
#regis{
    color: rgb(94, 94, 227);
    font-family: ' Calibri';
    font-size:xx-large;
    
}
.container{
    border: 2px solid black;
    background-color: black;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 25%;
    width: 50%;
    height: 680px;
    border-radius: 20px;
}
::placeholder{
    color: rgb(223, 220, 217);
    font-family: ' Calibri';
    font-size: 20px;
}
input{
    margin-top: 5%;
    margin-left: 2.75%;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(65, 63, 63);
    font-family: ' Calibri';
}
input[type="text"]{
    width:44% ;
}
#email{
     width:92.5%

}
input[type="submit"]{
    width: 94%;
    font-family: ' Calibri';
    color: rgb(223, 220, 217);
    font-size: 20px;
}
#sign{
    color: rgb(223, 220, 217);
    font-family: ' Calibri';
}